
html, body{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}


section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	padding: 50px 0;
}

.title{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}
label{
	font-weight: bold;
}

.desc{
	font-size: 18px;
}

.avatar{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 20px; 
	border: 2px solid #fff;
}

.border-r{
	border: 15px solid #fcc00e;
}



/** BACKGROUNDS **/

.bg-yellow{
	background-color: #fcc00e;
	color: #fff;
}

.bg-pink{
	background-color: #ff91ad;
	color: #fff;
}

.bg-green{
	background-color: #3cab6b;
	color: #fff;
}

.bg-blue{
	background-color: #2f43ba;
	color: #fff;
}

<<<<<<< HEAD

.bg-micolor {background-color: red;
color: #fff;}
=======
.bg-red{
	background-color: firebrick;
	color: #fff;
}
>>>>>>> 9b74568d238f4454530d1c2e92bc9e421084e97d
